<!DOctype html>
<head>
<title>blair python doc</title>
</head>
<style>
body
{
background-color: orange;
}
.blair_ul
   {
   display:block;
   color:blue
   }
   #blairman
   {
   background-color: green;
   }
   #joker
   {
   color:black;
   }
</style>
<body>

<center><h1><font color="purple">Blair The Computer Doctor Welcomes You To His Django Website</font></h1></center>
<div class="blair_ul">
<center>
<a href="">Home</a>
<a href="">About me</a>
<a href="/admin">Admin Login</a>
</center>
</div>
<div id="joker">
<h1>Say Hi To Blair</h1>
<p1>Lets Make it Happen</p1>
</div>
<div id="blairman">
{%block content%}
{%endblock%}
</div>
</body>

</html>